{% extends "base.html" %}

{% block title_block %}
shop
{% endblock title_block %}

{% block body %}


<section class="shop_section layout_padding">
    <div class="container">
        <div class="row">
            {% if product %}
            {% for i in product %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    <a href="">
                        <div class="img-box product_img">
                            <img src="{{i.Product_image.url}}" alt="">
                        </div>
                        <div>
                            <a href="{% url 'shop:single_product' slug=i.slug %}">
                                <h6>
                                    {{i.name|slice:":25"}}...
                                </h6>
                            </a>
                            <h6>
                                Price:
                                {% if i.discount_price == 0 %}
                                <span>
                                    {{i.regular_price}}&#2547;
                                </span>
                                {% else %}
                                <span>
                                    {{i.discount_price}}&#2547;
                                    <del style="color: rgb(88, 88, 88);">{{i.regular_price}}&#2547;</del>
                                </span>
                                {% endif %}
                            </h6>
                        </div>
                        {% if i.is_new %}
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Opps! sorry no product found with this releted category.</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}