{% extends "base.html" %}

{% block title_block %}
shop
{% endblock title_block %}

{% block body %}

<div class="layout_padding mx-5 ">
    <p>Home > {{data.name}}</p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="img_container border fullImage">
                <img src="{{data.Product_image.url}}" id="imageBox" alt="">
            </div>
            <div class="p-2 smallImage" style="overflow: hidden;">
                <img src="{{data.Product_image.url}}"  onclick="myFunction(this)" alt="">
                <img src="{{data.product_more_image1.url}}"  onclick="myFunction(this)" alt="">
                <img src="{{data.product_more_image2.url}}"  onclick="myFunction(this)" alt="">
                <img src="{{data.product_more_image3.url}}"  onclick="myFunction(this)" alt="">
                <img src="{{data.product_more_image4.url}}"  onclick="myFunction(this)" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mt-5">
                <h4>{{data.name}}</h4>
            </div>
            <div class="pt-2 pb-2">
                {% if data.quentity < 5 %}
                <span class="text-danger">{{data.quentity}} items available</span>
                {% else %}
                {{data.quentity}} items available in stock
                {% endif %}
            </div>
            <div class="price_box pb-4">
                {% if data.discount_price == 0 %}
                <span>
                    <span id="price">{{data.regular_price}}</span>&#2547;
                </span>
                {% else %}
                <span class="d-flex flex-column">
                    <span class="h3 text-primary">&#2547;<span id="price">{{data.discount_price}}</span></span>
                    <span><del style="color: rgb(88, 88, 88);" class="ml-2">{{data.regular_price}}&#2547;</del></span>
                </span>
                {% endif %}
            </div>
            <div class="py-2">
                <label for="exampleInputEmail1">Quantity</label><br>
                <button id="minus_quantity" style="border: none">-</button> <input type="text" style="width: 5rem;text-align:center" value="1" name="" id="quentity" readonly> <button id="increas_quantity" style="border: none">+</button>
            </div>
            <p>
                
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">BUY NOW</a>
                <!-- <button class="btn btn-primary" id="add_to_card">Add To Card</button> -->
            </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <form method="POST" action="{% url 'shop:confirm_order' %}">
                            Please fillup this form
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="slug" value="{{data.slug}}" hidden readonly><br>
                                <label for="exampleInputEmail1">Quantity</label>
                                <input type="text" class="form-control" name="quantity" value="1" id="item_quantity" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Totall Price<span class="text-danger h4">*</span></label>
                                <input type="text" class="form-control" name="total_price" value="{% if data.discount_price == 0 %} {{data.regular_price}} {% else %} {{data.discount_price}} {% endif %}" id="item_price" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Full Name<span class="text-danger h4">*</span></label>
                                <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Name" required>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Phone Number<span class="text-danger h4">*</span></label>
                              <input type="text" class="form-control" name="phone" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Full Address<span class="text-danger h4">*</span></label>
                                <input type="text" class="form-control" name="address" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Address" required
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Delivery Area<span class="text-danger h4">*</span>(Delivery Charge: Inside Dhaka-50tk, Outside Data-100tk)</label>
                                <select class="form-control" name="delivery_area" id="exampleFormControlSelect1">
                                  <option value="Inside">Inside Dhaka</option>
                                  <option value="Outside">Outside Dhaka</option>
                                </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Delivery Charge<span class="text-danger h4">*</span></label>
                              <input type="text" class="form-control" id="dalivery-charge" value="50" name="address" id="exampleInputEmail1" aria-describedby="emailHelp" readonly></div>
                            <button type="submit" class="btn btn-primary">Confirm Order</button>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
            <div class="mt-4">
                <h5>Product Details</h5>
                <p>{{data.product_details}}</p>
            </div>
        </div>
    </div>
    <div class="my-5">
        <h5 class="mt-4">Product Video</h5>
        <iframe allow="fullscreen;" width="300rem" height="200rem" src="{{data.video_id}}">
        </iframe>
    </div>
</div>
<div class="my-5 p-2">
    <h4>Releted Product</h4>
    <div class="owl-carousel owl-theme p-2" style="background-color: aliceblue;">
      {% for i in releted_product %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <div style="height: 18rem;overflow: hidden;">
                  <img class="card-img-top" src="{{i.Product_image.url}}" height="100%" alt="Card image cap">
                </div>
                <div class="card-body">
                  <a href="{% url 'shop:single_product' slug=i.slug %}">
                    <h6>
                        {{i.name|slice:":25"}}...
                    </h6>
                </a>
                <h6>
                  Price:
                  {% if i.discount_price == 0 %}
                  <span>
                      {{i.regular_price}}&#2547;
                  </span>
                  {% else %}
                  <span>
                      {{i.discount_price}}&#2547;
                      <del style="color: rgb(88, 88, 88);">{{i.regular_price}}&#2547;</del>
                  </span>
                  {% endif %}
              </h6>
                </div>
              </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}