{% extends "base.html" %}

{% block title_block %}
shop
{% endblock title_block %}

{% block body %}

<div class="layout_padding mx-5">
    <p>Home > {{data.name}}</p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="img_container border">
                <img src="{{data.Product_image.url}}" width="100%" alt="">
            </div>
            <div class="my-4">
                <h5>Image Gallery</h5>
                <div class="image_galery">
                    <div class="p-2 row" style="overflow: hidden;">
                        <img src="https://t3.ftcdn.net/jpg/05/64/35/80/360_F_564358021_KBRaemBSj9FGjZlupRQsloTJIMo1MATC.jpg" width="200px" class="border m-2 col-4" alt="">
                        <img src="https://t3.ftcdn.net/jpg/01/43/59/32/360_F_143593264_k6Bsrn8PdlVmjHYJxcGmsd7vMF68JE5t.jpg" width="200px" class="border m-2 col-4" alt="">
                        <img src="https://t3.ftcdn.net/jpg/02/47/22/18/360_F_247221856_CnBMUTmhIlzj79zCP19kRBSINYJimO9p.jpg" width="200px" class="border m-2 col-4" alt="">
                        <img src="https://img.freepik.com/free-photo/luxury-diamond-ring-isolated-white-background_123827-27630.jpg" width="200px" class="border m-2 col-4" alt="">
                        <img src="https://t3.ftcdn.net/jpg/05/64/35/80/360_F_564358021_KBRaemBSj9FGjZlupRQsloTJIMo1MATC.jpg" width="200px" class="border m-2 col-4" alt="">
                    </div>
                </div>
            </div>
            <h5 class="mt-4">Product Video</h5>
            <iframe allow="fullscreen;" width="400rem" height="200rem" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-12 col-lg-6">
            <h4>{{data.name}}</h4>
            <div class="pt-4 pb-2">
                {% if data.quentity < 5 %}
                <span class="text-danger">{{data.quentity}} items available</span>
                {% else %}
                {{data.quentity}} items available in stock
                {% endif %}
            </div>
            <div class="price_box pb-4">
                {% if data.discount_price == 0 %}
                <span>
                    {{data.regular_price}}&#2547;
                </span>
                {% else %}
                <span>
                    {{data.discount_price}}&#2547;
                    <del style="color: rgb(88, 88, 88);" class="ml-2">{{data.regular_price}}&#2547;</del>
                </span>
                {% endif %}
            </div>
            <a href="#" class="btn btn-primary btn-md">Buy Product</a>
            <div class="mt-4">
                <h5>Product Details</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto molestias soluta deserunt accusamus in cupiditate omnis? Nemo distinctio debitis nihil amet voluptatibus non enim possimus nulla deleniti. Quos amet dicta deserunt optio aut, suscipit consequuntur commodi totam vitae quia, illo, explicabo et! Quidem voluptate nesciunt qui eum a. Ipsa blanditiis quaerat sunt non magni! Optio nulla nobis sint omnis! Fugit asperiores molestias similique sint magni perspiciatis laborum nihil totam dignissimos facilis maiores consequuntur ex animi, aperiam optio autem sequi modi, veritatis eaque. Iure ipsum sunt, in, voluptatibus quibusdam quam fugit ex facilis, voluptas consequuntur hic doloremque eligendi id quas autem.</p>
            </div>
            
        </div>
    </div>
    
</div>

{% endblock %}